.menu {
    height: 40px;
    border: 1px solid rgb(red, green, blue);
    background-color: beige;
    padding-bottom: 8px;
    font-size: 16px;
}

/*.navMenu {
    background-color: gray;
    height: 5vh;
}*/

#inicio, #cursos, #contatos, #parceiros, #missao, #sobre {
    border: 1px solid black;
}

.navMenu::after {
    content: '';
    display: block;
    clear: both;
}

.navMenu ul {
    list-style: none;
    text-align: left;
    display: flex;
    margin: 2px;
}

.navMenu ul li a {
    padding-left: 2vw;
    display: inline-block;
    text-decoration: none;
    color: #333
}

.navMenu ul li a:hover {
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

#inicio {
    height: 70vh;
    background-color: greenyellow;
    border: 1px solid red;
}

#cursos {
    height: 90vh;
    background-color: hotpink;
    border: 1px solid blue;
}

#contatos {
    height: 60vh;
    background-color: orange;
    border: 1px solid black;
}

#parceiros {
    height: 40vh;
    background-color: thistle;
    border: 1px solid rebeccapurple;
}

#missao {
    height: 90vh;
    background-color: teal; 
    border: 1px solid yellow;
}

#sobre {
    height: 10vh;
    background-color: seashell;
    border: 1px solid red;
}

.irTopo, .irInicio, .irCursos, .irCursos, .irContatos, .irParceiros, .irMissao, .irSobre {
    font-size: 12px;
    padding: 1vh;
    transition: 0.2s;
    position: fixed;
    right: 1vh;
    text-decoration: none;
    width: 90px;
    text-align: center;
    border-radius: 4px;
    }
    
.Irtopo {
    font-size: 12px;
    padding: 1vh;
    transition: 0.2s;
    bottom: 14vh;
    position: fixed;
    text-decoration: none;
    right: 1vh;
    width: 90px;
    text-align: center;
    color: white;
    border-radius: 4px;
}